services:

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "15672:15672"   # Панель управления RabbitMQ
      - "5672:5672"     # AMQP-порт
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=password
    networks:
      - rabbitmq_net

  rabbitmq_exporter:
    image: kbudde/rabbitmq-exporter:latest
    container_name: rabbitmq_exporter
    environment:
      RABBITMQ_URL: http://admin:password@rabbitmq:15672
    ports:
      - "9419:9419"   # порт, на котором экспортер отдаёт метрики
    networks:
      - rabbitmq_net
      - prometheus_net

networks:
  rabbitmq_net:
    driver: bridge
    name: rabbitmq_net  # Явно задаем имя сети

  prometheus_net:
    external: True
    name: prometheus_net


